## day four: 1/2

In [61]:
import pandas

In [62]:
csvFile = pandas.read_csv('dayfour.csv', header=None)

In [63]:
csvFile

                                                     0
0                                             eyr:2033
1                                  hgt:177cm pid:173cm
2                ecl:utc byr:2029 hcl:#efcc98 iyr:2023
3             pid:337605855 cid:249 byr:1952 hgt:155cm
4                ecl:grn iyr:2017 eyr:2026 hcl:#866857
5    cid:242 iyr:2011 pid:953198122 eyr:2029 ecl:bl...
6                                hgt:173cm hcl:#341e13
7                                              cid:341
8                                        pid:112086592
9                            iyr:2012 byr:2011 ecl:amb
10                                            eyr:2030
11                                       pid:790332032
12                                            iyr:2019
13                           eyr:2023 byr:1969 ecl:brn
14                                           hgt:163cm
15                                         hcl:#623a2f
16   byr:1920 eyr:2023 cid:146 pid:890112986 hgt:17...
17                hcl:#c0946f byr:1967 cid:199 ecl:gry
18           iyr:2012 pid:987409259 hgt:157cm eyr:2021
19   pid:316587303 iyr:2016 eyr:2023 ecl:blu byr:19...
20     hcl:#fffffd hgt:152cm byr:1996 ecl:gry eyr:2024
21                                   ecl:brn hgt:185cm
22                              pid:648491325 byr:1967
23                                hcl:#172f67 iyr:2014
24                                            eyr:2028
25          pid:328737320 iyr:2017 hcl:#fffffd hgt:178
26                                         ecl:#35fad5
27                                            byr:1959
28                          iyr:2010 byr:1943 eyr:2028
29                 hgt:178cm hcl:#888785 pid:572750267
..                                                 ...
788  iyr:2018 hgt:164cm hcl:#650d28 byr:1973 cid:10...
789                                              hcl:z
790                                      pid:315901778
791                                           iyr:2013
792            byr:1999 ecl:#49f691 eyr:2026 hgt:179cm
793                                           byr:1925
794  pid:555786686 hgt:189cm hcl:#cfa07d iyr:2012 e...
795                                           iyr:2016
796                                          hgt:168cm
797                eyr:2027 cid:60 ecl:gry hcl:#cfa07d
798                             pid:322944081 byr:1993
799                                          pid:163cm
800             hgt:189cm iyr:1997 hcl:03db25 eyr:1970
801                               byr:2016 ecl:#6c59eb
802                             pid:766719295 iyr:2017
803                                          hgt:168cm
804                                      hcl:z ecl:grt
805                                  eyr:2022 byr:2010
806  hgt:173cm pid:247156751 cid:109 eyr:2022 iyr:2...
807                                            cid:288
808                                         hcl:77241f
809  hgt:157cm byr:1956 pid:587115461 iyr:2016 ecl:lzr
810                                           eyr:2034
811                             hcl:5307c9 ecl:#cc4aff
812                                        pid:#d80d30
813        cid:224 hgt:72cm byr:2025 eyr:2039 iyr:2025
814                                  eyr:2027 byr:2015
815                    hgt:184 hcl:98fb9d pid:58151347
816                                           iyr:2029
817  hgt:183cm cid:187 byr:2019 ecl:xry iyr:2013 pi...

[818 rows x 1 columns]

In [64]:
ooh = []

In [65]:
for a in range(0, len(csvFile)):
    ooh.append(csvFile[0][a])

In [66]:
### eight items, or seven without `cid`

In [67]:
ooh[0]

'eyr:2033'

In [68]:
ooh[806]

'hgt:173cm pid:247156751 cid:109 eyr:2022 iyr:2012 ecl:gry byr:1989'

In [69]:
len(ooh[806].split(" "))

7

In [70]:
ooh[806].split(" ")

['hgt:173cm',
 'pid:247156751',
 'cid:109',
 'eyr:2022',
 'iyr:2012',
 'ecl:gry',
 'byr:1989']

In [71]:
a = ooh[806].split(" ")

In [72]:
print(a)

['hgt:173cm', 'pid:247156751', 'cid:109', 'eyr:2022', 'iyr:2012', 'ecl:gry', 'byr:1989']

In [73]:
print(len(a))

7

In [74]:
ooh[806]

'hgt:173cm pid:247156751 cid:109 eyr:2022 iyr:2012 ecl:gry byr:1989'

In [75]:
print(a[0][0:3])

hgt

In [109]:
valid = []

In [110]:
ooh[0]

'eyr:2033'

In [111]:
for entry in range(0,100):
    a = ooh[entry].split(" ")
    for item in range(0, len(a)):
        a[item] = a[item][0:3]
    print(a)
    print(len(a))
    if len(a) == 8 or (len(a) == 7 and "cid" not in a):
        print("true")
        valid.append(1)
    else:
        print("false")
        valid.append(0)

['eyr']
1
false
['hgt', 'pid']
2
false
['ecl', 'byr', 'hcl', 'iyr']
4
false
['pid', 'cid', 'byr', 'hgt']
4
false
['ecl', 'iyr', 'eyr', 'hcl']
4
false
['cid', 'iyr', 'pid', 'eyr', 'ecl', 'hcl']
6
false
['hgt', 'hcl']
2
false
['cid']
1
false
['pid']
1
false
['iyr', 'byr', 'ecl']
3
false
['eyr']
1
false
['pid']
1
false
['iyr']
1
false
['eyr', 'byr', 'ecl']
3
false
['hgt']
1
false
['hcl']
1
false
['byr', 'eyr', 'cid', 'pid', 'hgt', 'hcl', 'iyr', 'ecl']
8
true
['hcl', 'byr', 'cid', 'ecl']
4
false
['iyr', 'pid', 'hgt', 'eyr']
4
false
['pid', 'iyr', 'eyr', 'ecl', 'byr', 'hgt', 'hcl']
7
true
['hcl', 'hgt', 'byr', 'ecl', 'eyr']
5
false
['ecl', 'hgt']
2
false
['pid', 'byr']
2
false
['hcl', 'iyr']
2
false
['eyr']
1
false
['pid', 'iyr', 'hcl', 'hgt']
4
false
['ecl']
1
false
['byr']
1
false
['iyr', 'byr', 'eyr']
3
false
['hgt', 'hcl', 'pid']
3
false
['cid', 'ecl', 'eyr', 'iyr']
4
false
['hcl', 'byr', 'pid']
3
false
['hgt']
1
false
['hgt']
1
false
['ecl', 'eyr', 'iyr', 'hcl', 'pid']
5
false
['iyr']
1
false
['hgt', 'hcl']
2
false
['ecl']
1
false
['cid', 'eyr', 'pid']
3
false
['pid', 'ecl', 'hgt', 'cid', 'hcl', 'byr']
6
false
['eyr', 'iyr']
2
false
['ecl', 'hgt', 'iyr', 'pid']
4
false
['byr']
1
false
['eyr', 'hcl']
2
false
['pid', 'eyr', 'iyr']
3
false
['cid', 'byr', 'hcl', 'ecl']
4
false
['ecl']
1
false
['pid', 'hgt']
2
false
['eyr', 'iyr', 'byr', 'cid', 'hcl']
5
false
['cid', 'ecl', 'hgt', 'eyr']
4
false
['iyr', 'pid', 'hcl', 'byr']
4
false
['pid', 'eyr', 'iyr']
3
false
['hgt', 'byr', 'hcl']
3
false
['ecl']
1
false
['byr', 'hgt']
2
false
['iyr']
1
false
['eyr', 'pid', 'ecl']
3
false
['hgt', 'iyr', 'pid', 'eyr', 'ecl', 'byr']
6
false
['hcl']
1
false
['hgt']
1
false
['iyr', 'byr', 'hcl', 'pid']
4
false
['eyr', 'ecl']
2
false
['eyr', 'byr']
2
false
['hcl']
1
false
['iyr', 'ecl', 'cid', 'pid', 'hgt']
5
false
['pid']
1
false
['hgt', 'iyr', 'byr', 'eyr']
4
false
['hcl', 'cid', 'ecl']
3
false
['byr', 'ecl', 'iyr', 'pid', 'hgt', 'eyr', 'cid', 'hcl']
8
true
['cid', 'hgt']
2
false
['ecl', 'hcl', 'byr']
3
false
['iyr']
1
false
['eyr', 'pid']
2
false
['cid']
1
false
['hcl']
1
false
['hgt', 'pid', 'ecl', 'iyr', 'byr', 'eyr']
6
false
['eyr']
1
false
['pid']
1
false
['hgt']
1
false
['byr', 'hcl', 'iyr', 'ecl']
4
false
['ecl', 'iyr', 'hcl', 'hgt']
4
false
['eyr', 'pid']
2
false
['iyr', 'eyr', 'byr', 'pid', 'ecl', 'hcl', 'hgt']
7
true
['iyr']
1
false
['eyr', 'pid', 'cid']
3
false
['hcl', 'byr', 'ecl']
3
false
['ecl', 'pid', 'hcl']
3
false
['byr', 'cid', 'eyr', 'iyr', 'hgt']
5
false
['hcl', 'cid', 'eyr', 'hgt', 'iyr']
5
false
['byr', 'pid', 'ecl']
3
false
['ecl', 'hgt', 'eyr', 'pid', 'byr', 'cid', 'hcl']
7
false
['pid']
1
false
['hcl', 'hgt', 'iyr', 'cid', 'eyr', 'byr']
6
false
['ecl']
1
false
['byr']
1
false
['eyr']
1
false
['hgt']
1
false
['pid', 'ecl']
2
false
['iyr', 'hcl']
2
false
['byr', 'hgt']
2
false

In [113]:
valid[16]

1

In [114]:
sum(valid)

4

In [115]:
len(valid)

100