## day two: 1/2

In [29]:
import pandas

In [30]:
csvFile = pandas.read_csv('daytwo.csv', header=None)

In [31]:
csvFile.head()

                             0
0    15-16 f: ffffffffffffffhf
1              6-8 b: bbbnvbbb
2  6-10 z: zhzzzzfzzzzzzzzzpzz
3      9-13 s: dmssskssqsssssf
4               5-6 v: hvvgvrm

In [32]:
ugh = []

In [33]:
for a in range(0, len(csvFile)):
    ugh.append(csvFile[0][a])

In [34]:
ugh[0]

'15-16 f: ffffffffffffffhf'

In [35]:
ugh[0].split(' ')

['15-16', 'f:', 'ffffffffffffffhf']

In [36]:
len(ugh)

1000

In [37]:
total = []

In [38]:
for a in ugh:
    b = a.split(' ')
    for item in b:
        total.append(item)

# print(total)

In [39]:
len(total)

3000

In [40]:
times = []

In [41]:
sam = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

In [42]:
a = range(0, 299, 3)

In [43]:
limits = []

In [44]:
for a in range(0, 3000, 3):
    limits.append(total[a])

In [45]:
letter = []

In [46]:
for b in range(1, 3000, 3):
    letter.append(total[b])

In [47]:
password = []

In [48]:
for c in range(2, 3000, 3):
    password.append(total[c])

In [49]:
for x in range(0,len(letter)):
    letter[x] = letter[x].replace(':',' ')

In [50]:
letter[0].rstrip()

'f'

In [51]:
for l in range(0,len(letter)):
    letter[l] = letter[l].rstrip()

In [52]:
y = limits[0].split('-')

In [53]:
int(y[0]) <= password[0].count(letter[0]) and int(y[0]) >= password[0].count(letter[0])

True

In [54]:
results = []

In [55]:
password[0].count(letter[0])

15

In [56]:
for a in range(0,len(password)):
    y = limits[a].split('-')
    results.append(int(y[0]) <= password[a].count(letter[a]) and int(y[1]) >= password[a].count(letter[a]))

In [57]:
sum(results)

393

## day two: 2/2

In [58]:
y = limits[0].split('-')
print(y[0])
print(y[1])

15
16

In [59]:
results2 = []

In [60]:
for a in range(0,len(password)):
    y = limits[a].split('-')
    if (password[a][int(y[0])-1] == letter[a]) is not (password[a][int(y[1])-1] == letter[a]) or (password[a][int(y[1])-1] == letter[a]) is not(password[a][int(y[0])-1] == letter[a]):
        dummy = True
    else:
        dummy = False
    results2.append(dummy)

In [61]:
sum(results2)

690